@charset "UTF-8";
.grid {
  outline: 2px solid red; }

@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff"); }

body {
  background: #fff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal; }

img {
  max-width: 100%;
  height: auto; }

.page {
  position: relative;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif; }

.page__wrapper {
  width: 320px;
  margin: 0 auto; }

.page-header {
  z-index: 1;
  background-color: #283645; }

.page-header__logo {
  width: 75px;
  height: 23px;
  margin: 21px 0;
  margin-left: 20px;
  background-image: url(../img/logo-sprite.svg);
  background-repeat: no-repeat;
  background-position: -4px -323px; }

.page-header__logo:hover {
  background-position: -4px -292px;
  cursor: pointer; }

.page-header__logo:active {
  background-position: -4px -323px;
  opacity: .3; }

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000; }
  .main-nav--closed {
    position: absolute;
    width: 320px;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: none;
    z-index: 1; }

.main-nav__toggle {
  border: none;
  margin-right: 20px;
  width: 26px;
  height: 25px;
  background-color: #283645;
  background-image: url("../img/icon-sprite.svg");
  background-repeat: no-repeat;
  background-position: -4px -402px;
  background-color: transparent; }
  .main-nav__toggle:hover {
    background-position: -4px -370px; }
  .main-nav__toggle:active {
    background-position: -4px -370px;
    opacity: .3; }
  .main-nav__toggle:focus {
    outline: none; }

.main-nav__block {
  z-index: 1; }

.main-nav--closed .main-nav__toggle {
  width: 50px;
  height: 26px;
  margin-bottom: 5px;
  background-position: -4px -338px; }
  .main-nav--closed .main-nav__toggle:hover {
    background-position: -4px -306px; }
  .main-nav--closed .main-nav__toggle:active {
    background-position: -4px -306px;
    opacity: .3; }

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.main-nav--closed + .main-nav__block {
  display: none; }

.main-nav__item a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 15px 0;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #000; }

.main-nav__item a[href]:hover {
  color: #d22856; }

.main-nav__item a[href]:active {
  color: rgba(210, 40, 86, 0.3); }

.main-nav--nojs {
  position: static;
  background-color: transparent; }

.main-nav--nojs ~ .main-nav__block {
  display: block; }

.intro {
  position: relative;
  z-index: 0; }
  .intro img {
    position: absolute;
    bottom: 0;
    left: 0; }

.intro--photo,
.intro--form,
.intro__img {
  background-color: #19222b;
  background: url("../img/bg-back-mobile@1x.jpg") center no-repeat; }

.intro--photo .intro__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #fff;
  width: 280px;
  margin: 0 auto;
  padding: 97px 0 81px 0;
  text-align: center; }

.intro--form .intro__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #fff;
  margin: 0 20px;
  padding: 95px 0 51px 0;
  text-align: center; }

.intro__img {
  position: relative;
  height: 456px; }

.app-download {
  background: #1d2631;
  color: #fff; }
  .app-download p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 0;
    text-align: center; }

.app-download__wrapper {
  margin: 0 20px;
  padding: 28px 0;
  padding-bottom: 30px; }

.app-download__title {
  display: none; }

.app-download__main {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 15px 0;
  margin-bottom: 32px;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  border: 3px solid #fff;
  border-radius: 30px;
  cursor: pointer; }
  .app-download__main:hover {
    background: #fff;
    color: #d22856; }
  .app-download__main:active {
    background: #fff;
    color: #f1becc; }

.app-download__app-container {
  margin: 0;
  margin-bottom: 23px;
  text-align: center; }

.app-download__app-container a {
  display: inline-block;
  margin: 0 15px;
  vertical-align: bottom;
  background-repeat: no-repeat; }

.app-download__app-container:first-child {
  margin-left: 26px; }

.app-download__apple {
  width: 48px;
  height: 56px;
  background-image: url("../img/logo-apple.svg");
  background-position: bottom; }

.app-download__android {
  width: 44px;
  height: 48px;
  background-image: url("../img/logo-android.svg");
  background-position: bottom; }

.app-download__microsoft {
  width: 44px;
  height: 41px;
  background-image: url("../img/logo-microsoft.svg");
  background-position: center; }

.advantages {
  background: #fff;
  color: #283645;
  line-height: 24px; }

.advantages__promo {
  width: 280px;
  margin: 0 auto;
  position: relative;
  padding: 44px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 300; }
  .advantages__promo p {
    margin: 0; }
    .advantages__promo p:first-of-type {
      margin-bottom: 35px; }
  .advantages__promo::after {
    position: absolute;
    content: '';
    width: 320px;
    height: 32px;
    bottom: -32px;
    left: -22px;
    background: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: contain; }

.advantages__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 280px;
  overflow: hidden;
  padding: 80px 20px 0;
  background: #f2f2f2; }

.advantages__item {
  text-align: center;
  margin-bottom: 34px; }
  .advantages__item p {
    margin: 0;
    margin-bottom: 44px;
    font-size: 14px; }
    .advantages__item p:last-child {
      margin-bottom: 0; }

.advantages__item img {
  display: none; }

.advantages__item-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #283645;
  margin: 0;
  margin-bottom: 16px; }

.advantages__promo-img {
  display: block;
  margin-top: 5px;
  margin-bottom: -43px; }

.slider__input {
  display: none; }

.slider__toggles {
  text-align: center; }

.slider__toggle {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 10px;
  background-color: #283645;
  font-size: 0;
  vertical-align: middle;
  border: 3px solid #fff;
  border-radius: 50%;
  opacity: .3;
  cursor: pointer; }
  .slider__toggle:hover {
    opacity: .6; }
  .slider__toggle:active {
    opacity: .1; }
  .slider__toggle:last-of-type {
    margin-right: 0; }

.efficiency {
  display: none; }

.reviews {
  position: relative;
  text-align: center;
  background: #fff; }
  .reviews::after {
    position: absolute;
    content: '';
    width: 320px;
    height: 32px;
    bottom: -32px;
    left: -22px;
    background: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-size: contain;
    left: 0; }

.reviews__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 42px 0 40px 0; }

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.reviews__toggles {
  margin-top: 11px; }

.reviews__btn {
  display: none; }

.reviews__item {
  display: none; }
  .reviews__item:first-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px; }

.reviews__author-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  margin: 0; }

.reviews__author-note {
  display: none; }

.reviews__comment {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  margin-top: 15px; }

#reviews-input-1:checked ~ .reviews__toggles > label[for="reviews-input-1"],
#reviews-input-2:checked ~ .reviews__toggles > label[for="reviews-input-2"],
#reviews-input-3:checked ~ .reviews__toggles > label[for="reviews-input-3"] {
  border: 3px solid #283645;
  background-color: #fff;
  opacity: 1;
  cursor: default; }
  #reviews-input-1:checked ~ .reviews__toggles > label[for="reviews-input-1"]:hover,
  #reviews-input-2:checked ~ .reviews__toggles > label[for="reviews-input-2"]:hover,
  #reviews-input-3:checked ~ .reviews__toggles > label[for="reviews-input-3"]:hover {
    opacity: 1; }
  #reviews-input-1:checked ~ .reviews__toggles > label[for="reviews-input-1"]:active,
  #reviews-input-2:checked ~ .reviews__toggles > label[for="reviews-input-2"]:active,
  #reviews-input-3:checked ~ .reviews__toggles > label[for="reviews-input-3"]:active {
    opacity: 1; }

.version {
  background: #f2f2f2; }

.version__wrapper {
  position: relative;
  height: 280px;
  padding: 90px 0 100px 0;
  overflow: hidden; }

.version__list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -543px;
  border-collapse: collapse; }
  .version__list th,
  .version__list td {
    border: 1px solid #e5e5e5; }
  .version__list td {
    background: #fff; }

.version__cell {
  width: 280px;
  vertical-align: bottom; }

.version__cell p {
  text-transform: uppercase; }

.version__title {
  position: relative;
  padding: 19px 0;
  background: #283645;
  text-align: center;
  overflow: hidden; }
  .version__title--hit::after {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    content: 'ХИТ';
    top: 11px;
    left: -33px;
    width: 113px;
    height: 28px;
    background-color: #d22856;
    transform: rotate(-45deg); }

.version__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #fff;
  margin: 0; }

.version__title:empty {
  background: #f2f2f2;
  border: none; }

.version__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  text-transform: uppercase; }

.version__parameter {
  float: left;
  margin: 0;
  padding: 20px 0 20px 25px;
  font-size: 14px;
  font-weight: 400; }

.version__value {
  float: right;
  margin: 17px 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
  .version__value--yes {
    width: 31px;
    height: 21px;
    background-image: url("../img/icon-yes.svg"); }
  .version__value--no {
    width: 27px;
    height: 26px;
    background-image: url("../img/icon-no.svg"); }

.version__toggles {
  background: #f2f2f2;
  margin-top: 314px; }

#version-input-1:checked ~ .version__list {
  left: -261px; }

#version-input-2:checked ~ .version__list {
  left: -544px; }

#version-input-3:checked ~ .version__list {
  left: -824px; }

#version-input-1:checked ~ .version__toggles > label[for="version-input-1"],
#version-input-2:checked ~ .version__toggles > label[for="version-input-2"],
#version-input-3:checked ~ .version__toggles > label[for="version-input-3"] {
  border: 3px solid #283645;
  background-color: #fff;
  opacity: 1;
  cursor: default; }
  #version-input-1:checked ~ .version__toggles > label[for="version-input-1"]:hover,
  #version-input-2:checked ~ .version__toggles > label[for="version-input-2"]:hover,
  #version-input-3:checked ~ .version__toggles > label[for="version-input-3"]:hover {
    opacity: 1; }
  #version-input-1:checked ~ .version__toggles > label[for="version-input-1"]:active,
  #version-input-2:checked ~ .version__toggles > label[for="version-input-2"]:active,
  #version-input-3:checked ~ .version__toggles > label[for="version-input-3"]:active {
    opacity: 1; }

.contacts {
  background: #fff;
  text-align: center; }

.contacts__wrapper {
  width: 280px;
  margin: 0 auto;
  position: relative;
  padding-top: 10px;
  padding-bottom: 14px; }
  .contacts__wrapper::after {
    position: absolute;
    content: '';
    z-index: 1;
    width: 320px;
    height: 34px;
    bottom: -34px;
    left: -22px;
    background: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-size: contain; }

.contacts__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #283645;
  margin: 33px 0; }

.contacts__item {
  margin: 0;
  margin-bottom: 22px; }

.contacts__item p,
.contacts__item a {
  margin: 0;
  color: #d22856;
  font-size: 24px;
  font-weight: 300; }

.contacts__item--email a {
  cursor: pointer; }
  .contacts__item--email a:hover {
    color: #283645;
    text-decoration: underline; }
  .contacts__item--email a:active {
    color: #283645;
    opacity: .3; }

.contacts__item-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000;
  margin: 0;
  padding-bottom: 2px; }

.map-block {
  height: 200px;
  background: url("../img/bg-map-mobile@1x.png") center no-repeat; }

.competition__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.competition__description {
  margin: 0 20px;
  padding-top: 45px;
  padding-bottom: 19px; }
  .competition__description p {
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
    margin: 0;
    text-align: center; }

.competition__description span {
  display: none; }

.competition__fieldset {
  border: none;
  padding: 0;
  margin: 0; }

.competition__legend {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #d22856;
  margin: 0 20px;
  text-align: center;
  text-transform: uppercase; }

.competition__send-form-wrapper {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 19px; }

.competition__submit {
  border: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding: 17px 0;
  width: 280px;
  background-color: #2aab6d;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
  margin: 0; }
  .competition__submit:hover {
    background-color: #1c9b5e; }
  .competition__submit:focus {
    background-color: #1c9b5e;
    color: rgba(255, 255, 255, 0.3);
    outline: none; }

.competition__send-note {
  margin: 33px 0 0 0;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  text-transform: uppercase; }
  .competition__send-note sup {
    color: #d22856; }
  .competition__send-note span {
    display: none; }

.name-block {
  order: 0;
  padding: 0 0 38px 0; }

.name-block__wrapper {
  width: 280px;
  margin: 0 auto; }

.name-block__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }

.name-block__item {
  flex-grow: 1;
  margin-bottom: 2px; }

.name-block__item-title {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #d22856;
  display: block;
  margin: 15px 0 5px 0;
  padding-left: 23px;
  text-transform: uppercase; }

.name-block__input {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 21px;
  outline: none;
  border: 2px solid #e5e5e5; }

.name-block__input:hover {
  border-color: #283645; }

.name-block__input:focus {
  border-color: #d22856; }

.achievements-block {
  background: #f2f2f2;
  width: 100%; }

.achievements-block__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 36px 0 50px 0; }

.achievements-block__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #d22856;
  padding: 40px 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase; }

.achievements-block__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }

.achievements-block__item {
  width: 100%;
  margin-top: 42px; }
  .achievements-block__item:first-child label {
    margin-top: 0; }

.achievements-block__item label {
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
  color: #283645;
  display: inline-block;
  position: relative;
  padding-left: 70px;
  vertical-align: middle; }
  .achievements-block__item label::before {
    position: absolute;
    left: 0;
    content: '';
    width: 35px;
    height: 35px;
    border: 2px solid #e5e5e5;
    outline: none;
    background-color: #fff;
    cursor: pointer; }
  .achievements-block__item label:hover::before {
    border-color: #283645; }
  .achievements-block__item label:active::before {
    border-color: #d22856; }

.achievements-block__input {
  display: none; }

.achievements-block__input:checked + label:before {
  background-image: url("../img/icon-yes-pink.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 16px; }

.competitor-contacts {
  width: 100%;
  background: #fff; }

.competitor-contacts legend {
  display: none; }

.competitor-contacts__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 57px; }

.competitor-contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }

.competitor-contacts__item {
  flex-grow: 1; }

.competitor-contacts__item-title {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #d22856;
  display: block;
  margin: 15px 0 5px 0;
  padding-left: 23px;
  text-transform: uppercase; }

.competitor-contacts__input {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 21px;
  outline: none;
  border: 2px solid #e5e5e5; }

.competitor-contacts__input:hover {
  border-color: #283645; }

.competitor-contacts__input:focus {
  border-color: #d22856; }

.choosen-app {
  width: 100%;
  background-color: #f2f2f2; }

.choosen-app__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 33px 0;
  padding-bottom: 38px; }

.choosen-app__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #d22856;
  padding: 40px 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase; }

.choosen-app__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }

.choosen-app__item {
  width: 100%; }

.choosen-app__item label {
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
  color: #283645;
  display: inline-block;
  position: relative;
  padding-left: 70px;
  vertical-align: middle;
  margin: 35px 0 0 0; }
  .choosen-app__item label::before {
    position: absolute;
    left: 0;
    content: '';
    width: 35px;
    height: 35px;
    border: 2px solid #e5e5e5;
    outline: none;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50%; }
  .choosen-app__item label:hover::before {
    border-color: #283645; }
  .choosen-app__item label:active::before {
    border-color: #d22856; }

.choosen-app__input {
  display: none; }

.choosen-app__input:checked + label:before {
  background-image: url("../img/point.png");
  background-size: 15px 15px;
  background-position: center;
  background-repeat: no-repeat; }

.vacation-review {
  background-color: #fff; }

.vacation-review__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 43px; }

.vacation-review__input {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 21px;
  outline: none;
  border: 2px solid #e5e5e5;
  height: 200px;
  margin-top: 17px;
  padding: 15px 20px;
  resize: none;
  overflow: hidden; }

.vacation-review__input:hover {
  border-color: #283645; }

.vacation-review__input:focus {
  border-color: #d22856; }

.photos__promo {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  margin: 0 35px;
  padding-top: 45px;
  padding-bottom: 47px;
  text-align: center;
  background-color: #fff; }
  .photos__promo--bottom {
    margin: 0 20px;
    padding-bottom: 42px; }

.photos__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.photo {
  margin-top: 22px;
  font-size: 0; }
  .photo--panorama {
    margin-top: 0; }

.photo__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
  padding: 18px 18px;
  background-color: #f2f2f2; }

.photo__link {
  display: block;
  position: relative;
  text-decoration: none; }

.photo--panorama img {
  width: 320px;
  height: 137px; }

.photo--panorama .photo__link::after {
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top: 0;
  right: 20px;
  content: 'Панорама дня';
  width: 140px;
  padding: 6px 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #d22856; }

.photo__author {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #283645;
  margin: 0; }

.photo__timing {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: #283645;
  padding-left: 3px;
  text-transform: uppercase; }

.photo__comment {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
  width: 100%;
  margin: 0 0 9px 0; }

.photo__like {
  display: flex;
  align-items: center; }

.photo__like-btn {
  border: none;
  width: 13px;
  height: 12px;
  margin-right: 18px;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-color: transparent; }

.photo__like-count {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #d22856;
  margin: 0;
  text-transform: uppercase; }

.socials-link {
  display: inline-block;
  margin: 0 6px;
  width: 45px;
  height: 45px;
  vertical-align: middle;
  border: 3px solid #e5e5e5;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center; }
  .socials-link--tw {
    background-image: url("../img/icon-twitter.svg"); }
  .socials-link--fb {
    background-image: url("../img/icon-facebook.svg"); }
  .socials-link--yt {
    background-image: url("../img/icon-youtube.svg"); }
  .socials-link:hover {
    border-color: #283645; }
  .socials-link:active {
    opacity: 0.3; }

.page-footer {
  background-color: #fff; }
  .page-footer--index {
    display: none; }

.page-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 36px 0; }

.page-footer__logo {
  width: 147px;
  height: 40px;
  background-image: url(../img/logo-sprite.svg);
  background-repeat: no-repeat;
  background-position: -4px -148px; }

.page-footer__logo:hover {
  background-position: -4px -100px; }

.page-footer__logo:active {
  background-position: -4px -148px;
  opacity: .3; }

.page-footer__socials {
  max-width: 300px;
  margin-top: 40px;
  font-size: 0;
  text-align: center; }

.page-footer__copyright {
  margin-top: 35px; }
  .page-footer__copyright p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #283645;
    display: inline-block;
    margin: 0;
    padding-left: 17px;
    vertical-align: middle; }

.page-footer__copyright-link {
  display: inline-block;
  width: 27px;
  height: 34px;
  margin: 0;
  margin-right: 15px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-image: url("../img/htmlacademy-sprite.svg");
  background-position: -1px -34px; }

.page-footer__copyright-link:hover {
  background-position: -1px 1px; }

.page-footer__copyright-link:active {
  background-position: -1px 1px;
  opacity: .3; }

.pop-up {
  display: none;
  background-color: #fff;
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.15); }

.pop-up--opened {
  display: block; }

.pop-up__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 30px; }
  .pop-up__wrapper p {
    margin-top: 35px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #283645;
    text-align: center; }

.pop-up__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  text-align: center; }

.pop-up__close {
  border: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding: 17px 0;
  width: 280px;
  background-color: #2aab6d;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
  margin: 0 20px; }

.pop-up__btn-wrapper {
  padding-bottom: 50px; }
  .pop-up__btn-wrapper--acception {
    padding-top: 50px;
    background-color: #f2f2f2;
    text-align: center; }

.editor {
  background-color: #f2f2f2; }

.editor__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 5px 0; }

.editor__input {
  display: none; }

.editor__preview {
  display: block;
  margin: 0 20px; }

.editor__tools {
  width: 280px; }

.editor__toggles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 37px;
  margin-bottom: 33px; }

.editor__toggle {
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-image: url("../img/icon-sprite.svg");
  opacity: .3;
  cursor: pointer; }

.editor__tools {
  margin: 0 20px; }

.editor__bar {
  display: none;
  position: relative;
  order: 1;
  height: 2px;
  background-color: #283645;
  width: 240px;
  margin-top: 40px; }

.editor__toggler {
  position: absolute;
  content: '';
  top: -6px;
  right: 36px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 2px solid #d22856;
  border-radius: 50%;
  cursor: pointer; }
  .editor__toggler:active {
    background-color: #d22856; }

.editor__upload {
  width: 320px;
  border-top: 1px solid #e5e5e5; }

.editor__upload-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  margin: 0 20px;
  padding: 40px 0; }

.editor__btn {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #d22856;
  width: 280px;
  padding: 15px 0;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 35px; }
  .editor__btn:focus {
    outline: none; }

.editor__submit-btn {
  border: 3px solid #d22856; }
  .editor__submit-btn:hover {
    color: #fff;
    background-color: #d22856; }
  .editor__submit-btn:active {
    color: #e06989; }

.editor__reset-btn {
  color: #dddfe0;
  border: 3px solid #dddfe0; }
  .editor__reset-btn:hover {
    color: #b5b9be;
    border-color: #b5b9be; }
  .editor__reset-btn:active {
    color: #cbced2;
    background-color: #b5b9be;
    border-color: #b5b9be; }

.editor__submit-btn {
  margin-bottom: 12px; }

@media (min-width: 768px){
  .page__wrapper{
    width: 700px; }
  .page-header{
    position: absolute; }
  .page-header__logo-block{
    width: 700px; }
  .page-header__logo{
    width: 147px;
    height: 40px;
    margin-top: 27px;
    margin-bottom: 42px;
    margin-left: 40px;
    background-position: -4px -402px; }
  .page-header__logo:hover{
    background-position: -4px -354px; }
  .page-header__logo:active{
    background-position: -4px -402px;
    opacity: .3; }
  .main-nav--closed{
    width: 700px; }
  .main-nav__toggle{
    margin-right: 40px;
    margin-top: 3px; }
  .intro--photo .intro__title{
    width: 620px; }
  .intro img{
    width: 700px;
    height: 545px; }
  .intro--photo,
  .intro--form,
  .intro__img{
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: top; }
  .intro--form .intro__title{
    margin: 0 55px;
    padding: 181px 0 80px 0;
    font-size: 50px;
    line-height: 60px; }
  .intro--photo .intro__title{
    padding: 180px 0 140px 0;
    font-size: 50px;
    line-height: 60px; }
  .intro__img{
    height: 730px; }
  .app-download{
    position: absolute;
    width: 300px;
    left: 40px;
    bottom: 110px;
    background: transparent; }
  .app-download__wrapper{
    padding: 0;
    margin: 0; }
  .app-download__wrapper p{
    margin: 0;
    font-size: 18px; }
  .app-download__title{
    font-size: 40px;
    line-height: 49px;
    font-weight: 300;
    color: #fff;
    display: block;
    margin: 0 45px 31px 45px;
    text-align: center; }
  .app-download__main{
    margin-bottom: 46px; }
  .app-download__app-container{
    margin-bottom: 38px; }
  .advantages__promo{
    width: 620px; }
  .advantages__promo::after{
    left: -40px;
    width: 700px;
    height: 55px;
    bottom: -55px; }
  .advantages__promo{
    padding: 52px 0 54px 0;
    font-size: 40px;
    line-height: 44px; }
  .advantages__promo p:first-of-type{
    margin-bottom: 5px; }
  .advantages__wrapper{
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 620px;
    padding: 0 40px; }
  .advantages__promo::after{
    left: -47px; }
  .advantages__list{
    width: 310px;
    padding-top: 73px; }
  .advantages__promo-img{
    position: absolute;
    width: 268px;
    height: 481px;
    margin: 0; }
  .advantages__item{
    text-align: left;
    margin-bottom: 37px; }
  .efficiency{
    display: block;
    background: #fff; }
  .efficiency__wrapper{
    width: 280px;
    margin: 0 auto;
    padding-top: 62px;
    padding-bottom: 60px; }
  .efficiency__wrapper::after{
    content: "";
    display: table;
    clear: both; }
  .efficiency__img{
    position: relative;
    float: left;
    width: 234px;
    height: 272px;
    background-image: url("../img/icon-editor-diagram-fill.svg"), url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-position: 15px 54px, center;
    background-size: 203px 203px, contain; }
  .efficiency__img::after{
    font-size: 96px;
    line-height: 150px;
    font-weight: 700;
    color: #d22856;
    content: '24';
    position: absolute;
    top: 76px;
    left: 61px;
    width: 115px;
    height: 80px; }
  .efficiency__about{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #283645;
    float: right;
    width: 314px;
    text-align: left; }
  .efficiency__about p{
    margin: 10px 0; }
  .efficiency__about a{
    margin: 0;
    color: #d22856; }
  .efficiency__about-title{
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000;
    margin-top: 36px;
    margin-bottom: 0; }
  .reviews::after{
    left: -40px;
    width: 700px;
    height: 55px;
    bottom: -55px; }
  .reviews__wrapper{
    width: 620px; }
  .reviews::after{
    left: -7px; }
  .reviews__wrapper{
    padding-bottom: 16px; }
  .reviews__list{
    margin-bottom: 34px; }
  .reviews__item{
    height: 180px;
    margin-bottom: 26px; }
  .reviews__comment{
    margin: 0;
    margin-bottom: 34px;
    font-size: 18px; }
  .reviews__author{
    order: 1; }
  .reviews__author-name{
    margin: 0;
    font-size: 20px; }
  .reviews__author-note{
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
    display: block;
    margin: 0; }
  .version__wrapper{
    margin: 0 40px;
    padding-bottom: 10px; }
  .version__list{
    position: static; }
  .version__title{
    padding: 10px 0; }
  .version__title p{
    font-size: 18px; }
  .version__title::after{
    top: 6px;
    left: -37px; }
  .version__name{
    font-size: 16px;
    margin-bottom: 0; }
  .version__cell{
    width: 154px; }
  .version__cell p{
    text-transform: initial; }
  .version__parameter{
    display: none; }
  .version__parameter--main{
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #283645;
    display: block;
    padding-left: 15px;
    margin: 7px 0; }
  .version__value{
    float: none;
    margin: 0 auto; }
  .version__toggles{
    display: none; }
  .contacts__wrapper{
    width: 620px; }
  .contacts__wrapper{
    font-size: 0;
    padding-bottom: 25px;
    padding-top: 44px; }
  .contacts__wrapper::after{
    width: 730px;
    height: 77px;
    bottom: -75px;
    left: -58px; }
  .contacts__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 42px; }
  .contacts__title{
    font-size: 40px;
    line-height: 50px;
    margin: 0; }
  .contacts__item{
    width: 297px;
    margin-bottom: 48px; }
  .contacts__item:last-of-type{
    margin-bottom: 0; }
  .contacts__item-title{
    margin-bottom: 3px; }
  .contacts__item p{
    line-height: 29px; }
  .map-block{
    width: 100%;
    height: 376px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: 0 73%; }
  .competition__send-form-wrapper{
    width: 620px; }
  .competition__description{
    padding: 90px 0 72px 0; }
  .competition__description p{
    font-size: 18px;
    padding: 0 60px; }
  .competition__description span{
    display: block; }
  .competition__title{
    margin: 0 55px;
    padding: 181px 0 80px 0;
    font-size: 50px;
    line-height: 60px; }
  .competition__fieldset{
    display: block;
    border: 2px solid #e5e5e5;
    padding: 0 60px 50px 60px; }
  .competition__legend{
    margin: 0 auto; }
  .competition__legend-wrapper{
    margin: 0 32px; }
  .competition__send-form{
    order: 5; }
  .competition__send-form-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 63px;
    padding-bottom: 46px; }
  .competition__send-note{
    margin: 0;
    padding: 20px 0; }
  .competition__submit{
    padding: 16px 0;
    width: 300px; }
  .name-block__wrapper{
    width: 620px; }
  .name-block{
    padding-bottom: 22px; }
  .name-block__item{
    display: flex;
    margin-top: 50px; }
  .name-block__item:first-of-type{
    margin-top: 0; }
  .name-block__item-title{
    padding: 17px 0;
    margin: 0;
    margin-right: 18px; }
  .name-block__input{
    flex-grow: 1;
    margin-bottom: 0; }
  .achievements-block__wrapper{
    width: 620px; }
  .achievements-block{
    order: 3;
    background: #fff; }
  .achievements-block__wrapper{
    padding-top: 29px;
    padding-bottom: 0px; }
  .achievements-block__list{
    justify-content: space-between;
    margin-top: 1px; }
  .achievements-block__item{
    margin-top: 43px; }
  .achievements-block__item label{
    padding-left: 57px; }
  .competitor-contacts__wrapper{
    width: 620px; }
  .competitor-contacts{
    order: 2; }
  .competitor-contacts legend{
    display: block; }
  .competitor-contacts fieldset{
    padding-top: 36px;
    padding-bottom: 0; }
  .competitor-contacts__wrapper{
    padding: 29px 0;
    padding-bottom: 26px; }
  .competitor-contacts__item{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 22px; }
  .competitor-contacts__item::after{
    position: absolute;
    content: '';
    top: 2px;
    right: 2px;
    width: 60px;
    height: 60px;
    background-color: #e5e5e5;
    background-repeat: no-repeat;
    background-position: center; }
  .competitor-contacts__item--phone::after{
    background-image: url("../img/icon-phone.svg"); }
  .competitor-contacts__item--email::after{
    background-image: url("../img/icon-mail.svg"); }
  .competitor-contacts__input{
    flex-grow: 1; }
  .competitor-contacts__item-title{
    order: 2;
    margin-top: 12px;
    padding-left: 17px; }
  .choosen-app__wrapper{
    width: 620px; }
  .choosen-app{
    order: 1;
    background: #fff; }
  .choosen-app__wrapper{
    padding: 30px 0; }
  .choosen-app legend{
    width: auto; }
  .choosen-app__list{
    margin-top: 9px; }
  .choosen-app__item label{
    padding-left: 57px; }
  .vacation-review__wrapper{
    width: 620px; }
  .vacation-review{
    order: 4; }
  .vacation-review__wrapper{
    padding-top: 54px;
    padding-bottom: 0; }
  .vacation-review__input{
    margin-top: 38px;
    width: 100%;
    height: 190px; }
  .photos__container{
    justify-content: space-between;
    margin: 0 40px; }
  .photos__promo{
    margin: 0 75px;
    padding-top: 92px;
    padding-bottom: 76px;
    font-size: 18px; }
  .photos__promo--bottom{
    padding: 67px 0; }
  .photo{
    width: 300px;
    margin-top: 20px; }
  .photo__wrapper{
    width: 300px;
    height: 155px;
    box-sizing: border-box;
    padding: 23px 28px; }
  .photo--panorama .photo__link::after{
    top: 55px;
    right: 40px; }
  .photo__comment{
    margin: 0;
    max-height: 50px;
    overflow: hidden; }
  .photo__like{
    justify-content: space-between;
    margin-top: auto; }
  .photo__like-btn{
    order: 1;
    margin-right: 0; }
  .photo__link img{
    width: 300px;
    height: 300px; }
  .photo--panorama{
    width: auto;
    margin-top: 0;
    margin-bottom: 30px; }
  .photo--panorama img{
    width: 700px;
    height: 510px; }
  .photo--panorama .photo__wrapper{
    flex-direction: initial;
    -ms-grid-row-align: baseline;
    align-items: baseline;
    width: 620px;
    height: auto;
    margin: 0 40px; }
  .photo--panorama .photo__like{
    order: 1;
    margin: 0; }
  .photo--panorama .photo__comment{
    order: 2; }
  .page-footer__wrapper{
    width: 620px; }
  .page-footer--index{
    display: block; }
  .page-footer__wrapper{
    justify-content: space-between;
    padding: 31px 0; }
  .page-footer__socials{
    margin-top: 5px; }
  .page-footer__copyright{
    margin-top: 13px; }
  .page-footer__copyright-link{
    margin-left: 10px;
    margin-right: 0; }
  .pop-up__wrapper{
    width: 620px; }
  .pop-up{
    position: absolute;
    float: left;
    left: 50%;
    margin-left: -230px;
    border-radius: 10px; }
  .pop-up--falure{
    bottom: 600px; }
  .pop-up--acception{
    bottom: 100px; }
  .pop-up__wrapper{
    width: 320px;
    padding: 40px 70px;
    margin: 0 auto; }
  .pop-up__wrapper p{
    font-size: 18px; }
  .pop-up__title{
    font-size: 30px;
    line-height: 40px; }
  .pop-up__btn-wrapper{
    padding-left: 70px;
    padding-right: 70px; }
  .editor__wrapper{
    flex-direction: column;
    align-content: space-between;
    height: 400px;
    padding: 55px 40px;
    padding-top: 58px; }
  .editor__preview{
    width: 300px;
    margin: 0; }
  .editor__preview img{
    width: 300px;
    heigth: 400px; }
  .editor__tools{
    width: 275px;
    height: 220px;
    margin: 0; }
  .editor__toggles{
    justify-content: space-between;
    margin: 0;
    margin-top: -15px; }
  .editor__toggle{
    margin: 27px 0 25px 0;
    background-size: 29px auto;
    opacity: 1; }
  .editor__toggle--crop{
    width: 22px;
    height: 22px;
    background-position: -3px -43px; }
  .editor__toggle--fill{
    width: 24px;
    height: 22px;
    background-position: -1px -98px; }
  .editor__toggle--contrast{
    width: 16px;
    height: 16px;
    margin: 18px 0 25px 5px;
    background-position: -2px -2px; }
  .editor__bar{
    display: block;
    position: relative;
    order: 0;
    width: 202px;
    margin: 30px 18px 37px 18px; }
  .editor__bar::after{
    position: absolute;
    content: '';
    top: 35px;
    right: -18px;
    height: 1px;
    width: 275px;
    background-color: #e5e5e5; }
  .editor__upload{
    width: 275px;
    margin-top: auto;
    border: none; }
  .editor__upload-wrapper{
    margin: 0;
    padding: 0; }
  .editor__btn{
    width: 260px; }
  .editor__submit-btn{
    margin-bottom: 23px; } }

@media (min-width: 1200px){
  .page__wrapper{
    width: 1200px; }
  .page-header{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    background: rgba(0, 0, 0, 0.3); }
  .page-header__logo-block{
    width: 210px; }
  .page-header__logo{
    margin-left: 130px;
    background-position: -4px -244px; }
  .page-header__logo:hover{
    background-position: -4px -196px; }
  .page-header__logo:active{
    background-position: -4px -244px;
    opacity: .3; }
  .main-nav--closed{
    position: static;
    width: auto;
    background: none; }
  .main-nav__block{
    display: inline-block;
    vertical-align: middle; }
  .main-nav__toggle{
    display: none; }
  .main-nav--closed + .main-nav__block{
    display: block; }
  .main-nav__list{
    display: flex;
    flex-wrap: wrap;
    margin-right: 130px; }
  .main-nav__item a::after{
    content: "";
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0; }
  .main-nav__item a:hover::after{
    opacity: 1;
    background-color: #d22856; }
  .main-nav__item a{
    position: relative;
    border: none;
    padding: 37px 0;
    margin-left: 80px;
    text-transform: initial; }
  .main-nav__item a:hover{
    color: #d22856; }
  .main-nav__item a:active{
    color: rgba(255, 255, 255, 0.3); }
  .main-nav__item a:active::after{
    opacity: 0; }
  .main-nav__item a[href]:hover{
    color: #fff; }
  .main-nav__item a[href]:hover::after{
    background-color: #fff; }
  .main-nav__item a[href]:active{
    color: rgba(255, 255, 255, 0.3); }
  .intro--photo .intro__title{
    width: 940px; }
  .intro img{
    width: 1050px;
    height: 645px;
    left: 147px;
    bottom: 0; }
  .intro--photo h1{
    padding-bottom: 110px; }
  .intro--photo,
  .intro--form,
  .intro__img{
    background-image: url("../img/bg-back-desktop@1x.jpg"); }
  .intro--form .intro__title{
    margin: 0 130px;
    padding: 174px 0 100px 0; }
  .intro--photo .intro__title{
    padding: 173px 0 101px 0; }
  .intro--photo,
  .intro--form{
    background-position: top; }
  .intro__img{
    height: 855px;
    background-size: cover; }
  .app-download{
    width: 300px;
    left: 130px;
    bottom: 125px; }
  .app-download__title{
    margin: 0 15px;
    margin-bottom: 55px;
    font-size: 50px;
    line-height: 58px; }
  .app-download__main{
    margin-bottom: 67px;
    font-size: 21px; }
  .app-download__app-container{
    margin-bottom: 55px; }
  .advantages__promo{
    width: 940px; }
  .advantages__promo::after{
    left: -130px;
    width: 1200px;
    height: 94px;
    bottom: -94px; }
  .advantages__promo{
    padding: 67px 0 80px 0;
    font-size: 50px;
    line-height: 57px; }
  .advantages__promo p{
    margin-bottom: 0; }
  .advantages__wrapper{
    width: 940px;
    padding: 0 130px;
    padding-bottom: 40px; }
  .advantages__promo::after{
    left: -130px; }
  .advantages__list{
    display: flex;
    justify-content: space-between;
    width: 940px;
    padding-top: 0;
    font-size: 0; }
  .advantages__item{
    width: 300px;
    margin: 0;
    vertical-align: top;
    text-align: center; }
  .advantages__item img{
    position: absolute; }
  .advantages__item p{
    font-size: 18px;
    line-height: 30px;
    margin: 0 28px; }
  .advantages__item-title{
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #000;
    margin: 355px 30px 26px 30px; }
  .advantages__item img{
    display: block; }
  .advantages__promo-img{
    display: none; }
  .efficiency{
    background: #f2f2f2; }
  .efficiency__wrapper{
    padding-top: 25px;
    padding-bottom: 68px; }
  .efficiency__img{
    width: 300px;
    height: 346px;
    background-position: 24px 70px, center;
    background-size: 253px 253px, contain; }
  .efficiency__img::after{
    top: 95px;
    left: 80px;
    width: 140px;
    height: 100px;
    font-size: 120px;
    line-height: 189px; }
  .efficiency__about-title br{
    display: none; }
  .efficiency__about{
    width: 574px;
    font-size: 18px; }
  .efficiency__about p{
    margin: 27px 0 37px 0;
    line-height: 28px; }
  .efficiency__about-title{
    margin-top: 95px;
    line-height: 30px; }
  .reviews::after{
    left: -130px;
    width: 1200px;
    height: 94px;
    bottom: -94px; }
  .reviews__wrapper{
    width: 940px; }
  .reviews::after{
    left: -2px; }
  .reviews__wrapper{
    padding: 184px 0 9px 0; }
  .reviews__list{
    position: relative; }
  .reviews__list::before{
    position: absolute;
    content: '';
    top: -113px;
    left: 434px;
    width: 79px;
    height: 63px;
    background: url("../img/icon-quotes.svg"); }
  .reviews__btn{
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    width: 22px;
    height: 41px;
    background-repeat: no-repeat;
    background-image: url("../img/icon-sprite.svg");
    opacity: .3; }
  .reviews__btn--prev{
    left: 130px;
    background-position: -4px -436px; }
  .reviews__btn--next{
    right: 130px;
    background-position: -4px -485px; }
  .reviews__btn--prev:hover,
  .reviews__btn--next:hover{
    opacity: .6; }
  .reviews__btn--prev:active,
  .reviews__btn--next:active{
    opacity: .1; }
  .reviews__author{
    left: calc(50% - 110px); }
  .reviews__author-name{
    font-size: 24px; }
  .reviews__author-note{
    font-size: 18px; }
  .reviews__comment{
    padding: 0 110px;
    margin-bottom: 36px; }
  .reviews__toggles{
    display: none; }
  .version__wrapper{
    margin: 0 130px;
    padding-top: 150px;
    padding-bottom: 98px; }
  .version__cell{
    width: 234px; }
  .version__title{
    padding-top: 17px;
    padding-bottom: 20px; }
  .version__title::after{
    top: 13px;
    left: -31px; }
  .version__title p{
    font-size: 24px;
    margin: 0; }
  .version__name{
    font-size: 18px; }
  .version__parameter--main{
    margin: 15px 0;
    padding-left: 21px;
    font-size: 18px; }
  .contacts__wrapper{
    width: 940px; }
  .contacts__wrapper{
    padding-top: 63px; }
  .contacts__wrapper::after{
    width: 1238px;
    height: 127px;
    bottom: -123px;
    left: -136px; }
  .contacts__title{
    font-size: 50px;
    line-height: 60px; }
  .contacts__list{
    -ms-grid-row-align: baseline;
    align-items: baseline;
    margin-top: 0; }
  .contacts__item{
    margin-top: 58px;
    margin-bottom: 0; }
  .contacts__item:nth-of-type(2){
    order: 2; }
  .contacts__item:nth-of-type(3){
    order: 1; }
  .contacts__item-title{
    margin-bottom: 24px; }
  .map-block{
    height: 494px;
    background-image: url("../img/bg-map-desktop@1x.jpg"); }
  .competition__send-form-wrapper{
    width: 940px; }
  .competition__container{
    justify-content: space-between;
    padding: 0 130px; }
  .competition__description{
    padding: 90px 0 73px 0; }
  .competition__description span{
    display: inline; }
  .competition__send-form-wrapper{
    padding-top: 57px;
    padding-bottom: 0; }
  .competition__send-note span{
    display: inline; }
  .name-block__wrapper{
    width: 940px; }
  .name-block{
    margin-top: 14px;
    padding: 0; }
  .name-block__wrapper{
    width: auto; }
  .name-block__list{
    width: 435px; }
  .achievements-block__wrapper{
    width: 940px; }
  .achievements-block__wrapper{
    padding-top: 57px;
    padding-bottom: 0; }
  .achievements-block__wrapper fieldset{
    padding-bottom: 44px; }
  .achievements-block__item{
    display: inline-block;
    vertical-align: middle;
    width: 38%;
    margin-top: 40px; }
  .achievements-block__list{
    flex-direction: column;
    justify-content: flex-start;
    height: 179px; }
  .achievements-block__item:nth-last-of-type(3)
.achievements-block__item:nth-last-of-type(4){
    margin-left: 52px; }
  .achievements-block__item:nth-last-of-type(5)
.achievements-block__item:nth-last-of-type(6){
    margin-left: 44px; }
  .competitor-contacts__wrapper{
    width: 940px; }
  .competitor-contacts__wrapper{
    padding-top: 53px;
    padding-bottom: 0; }
  .competitor-contacts__list{
    justify-content: space-between; }
  .competitor-contacts__item{
    width: 373px;
    flex-grow: 0;
    margin-bottom: 13px; }
  .competitor-contacts__item-title{
    margin-bottom: 0;
    margin-top: 9px; }
  .choosen-app__wrapper{
    width: 940px; }
  .choosen-app{
    width: 435px; }
  .choosen-app__wrapper{
    width: auto;
    padding: 0; }
  .choosen-app__wrapper fieldset{
    padding: 0 23px 50px 23px; }
  .choosen-app__list{
    margin-top: 10px;
    margin-left: 53px; }
  .vacation-review__wrapper{
    width: 940px; }
  .vacation-review__wrapper{
    width: 940px; }
  .vacation-review__wrapper fieldset{
    padding-bottom: 42px; }
  .vacation-review__input{
    margin-top: 35px;
    height: 126px; }
  .photos__promo{
    margin: 0 300px;
    padding-bottom: 88px; }
  .photos__promo--bottom{
    margin: 0 auto;
    padding-top: 62px;
    padding-bottom: 66px; }
  .photos__container{
    margin: 0 130px; }
  .photo{
    margin-top: 52px; }
  .photo__link img{
    height: 400px; }
  .photo--panorama{
    margin-top: 0;
    margin-bottom: 0; }
  .photo--panorama .photo__wrapper{
    flex-direction: row;
    width: 940px;
    height: 96px;
    margin: 0 130px; }
  .photo--panorama .photo__link::after{
    right: 130px; }
  .photo--panorama .photo__like{
    width: auto; }
  .photo--panorama img{
    width: 1200px;
    height: 506px; }
  .photo__like{
    justify-content: space-between; }
  .photo__like-btn{
    margin-left: 20px;
    margin-right: 5px; }
  .page-footer__wrapper{
    width: 940px; }
  .page-footer__wrapper{
    padding: 65px 0; }
  .page-footer__logo{
    background-position: -4px -52px; }
  .page-footer__logo:hover{
    background-position: -4px -4px; }
  .page-footer__logo:active{
    background-position: -4px -52px;
    opacity: .3; }
  .page-footer__socials{
    margin-left: 36px; }
  .page-footer__copyright{
    margin-top: 12px; }
  .page-footer__copyright p{
    font-size: 18px; }
  .pop-up__wrapper{
    width: 940px; }
  .pop-up--acception .pop-up__wrapper{
    width: 460px;
    padding-left: 160px;
    padding-right: 160px; }
  .pop-up--acception{
    margin-left: -390px; }
  .editor{
    width: 940px;
    margin: 0 130px;
    margin-bottom: 33px; }
  .editor__wrapper{
    padding: 55px 60px 55px 80px; }
  .editor__tools{
    width: 410px;
    height: 230px; }
  .editor__toggle{
    margin: 14px 0;
    background-size: auto; }
  .editor__toggle--crop{
    width: 44px;
    height: 44px;
    background-position: -6px -86px; }
  .editor__toggle--fill{
    width: 48px;
    height: 43px;
    background-position: -4px -196px; }
  .editor__toggle--contrast{
    width: 32px;
    height: 32px;
    margin-right: 0;
    background-position: -4px -4px; }
  .editor__bar{
    width: 288px;
    margin: 30px 30px 30px 20px; }
  .editor__bar::after{
    width: 410px;
    rigth: -30px; }
  .editor__upload{
    width: 410px; }
  .editor__upload-wrapper{
    width: 410px;
    justify-content: space-between; }
  .editor__btn{
    width: 180px;
    margin: 0;
    flex-grow: 0; } }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx){
  .intro--photo,
  .intro--form,
  .intro__img{
    background-color: #19222b;
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto; } }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 1.5dppx){
  .intro--photo,
  .intro--form,
  .intro__img{
    background-image: url("../img/bg-back-tablet@2x.jpg");
    background-size: cover; } }

@media (min-width: 768px) and (min-width: 768px){
  .efficiency__wrapper{
    width: 620px; } }

@media (min-width: 768px) and (min-width: 1200px){
  .efficiency__wrapper{
    width: 940px; } }

@media (max-width: 767px){
  .editor__toggle:hover{
    opacity: .5; }
  #editor-1:checked ~ .editor__toggles .editor__toggle--crop{
    background-position: -6px -86px;
    opacity: 1; }
  #editor-2:checked ~ .editor__toggles .editor__toggle--fill{
    background-position: -4px -196px;
    opacity: 1; }
  #editor-3:checked ~ .editor__toggles .editor__toggle--contrast{
    background-position: -4px -4px;
    opacity: 1; }
  .editor__toggle--crop{
    width: 44px;
    height: 44px;
    background-position: -6px -142px; }
  .editor__toggle--fill{
    width: 48px;
    height: 43px;
    background-position: -4px -252px; }
  .editor__toggle--contrast{
    width: 32px;
    height: 32px;
    margin-right: 0;
    background-position: -4px -44px; }
  input[id="editor-1"]:checked ~ .editor__toggles .editor__bar--crop{
    display: block; }
  input[id="editor-2"]:checked ~ .editor__toggles .editor__bar--fill{
    display: block; }
  input[id="editor-3"]:checked ~ .editor__toggles .editor__bar--contrast{
    display: block; } }
