.achievements-block{
  background: $light-bg;
  width: 100%;
}

.achievements-block__wrapper {
  @include container;
  padding: 36px 0 50px 0;
}

.achievements-block__title {
  @include pink-block-title;
}

.achievements-block__list {
  @include list-default;
  display: flex;
  flex-wrap: wrap;
}

.achievements-block__item {
  width: 100%;
  margin-top: 42px;

  &:first-child {
    label {
      margin-top: 0;
    }
  }
}

.achievements-block__item label {
  @include item-label;

  &::before {
    @include item-label-before;
  }

  &:hover::before {
    border-color: $border-color-hover;
  }

  &:active::before {
    border-color: $border-color-active;
  }
}

.achievements-block__input {
  display: none;
}

.achievements-block__input:checked + label:before {
  background-image: url('../img/icon-yes-pink.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 16px;
}

@media #{$tablet-widths} {
  .achievements-block {
    order: 3;
    background: $lightest-bg;
  }

  .achievements-block__wrapper {
    padding-top: 29px;
    padding-bottom: 0px;
  }

  .achievements-block__list {
    justify-content: space-between;
    margin-top: 1px;
  }

  .achievements-block__item {
    margin-top: 43px;
  }

  .achievements-block__item label {
    padding-left: 57px;
  }
}

@media #{$desktop-widths} {
  .achievements-block__wrapper {
    padding-top: 57px;
    padding-bottom: 0;
  }

  .achievements-block__wrapper fieldset {
    padding-bottom: 44px;
  }

  .achievements-block__item {
    display: inline-block;
    vertical-align: middle;
    width: 38%;
    margin-top: 40px;
  }

  .achievements-block__list {
    flex-direction: column;
    justify-content: flex-start;
    height: 179px;
  }

  .achievements-block__item:nth-last-of-type(3)
  .achievements-block__item:nth-last-of-type(4) {
    margin-left: 52px;
  }

  .achievements-block__item:nth-last-of-type(5)
  .achievements-block__item:nth-last-of-type(6) {
    margin-left: 44px
  }
}
