.join {
  background: #30333c;
  .wrapper {
    padding: 50px 20px 60px;
    background-image: url('../img/join-bg.jpg');
    background-position-x: 552px;
    background-repeat: no-repeat;
  }
}

.join form {
  position: relative;
}

.join__container {
  width: 620px;
}

.join__title {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  font-family: 'Lora', serif;
  margin: 0 0 25px;
  line-height: 1;
  text-shadow: 0 7px 15px rgba(0, 0, 0, .4);
}

.join__text {
  padding-right: 100px;
  @include typo(18px, 700, $main-font , #fff);
}

.join__email-input {
  width: 620px;
  height: 60px;
  box-sizing: border-box;
  padding: 20px 145px 20px 25px;
  @include typo(14px, 400, $main-font, #999);
  border-radius: 3px;
  border: none;
}

.join__submit {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 120px;
  height: 50px;
  background: $red-bg-color;
  @include typo(14px, 700, $main-font, #fff);
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}

@media (max-width: 979px) {
  .join .wrapper {
    padding: 30px 20px 40px;
    background-position-x: 382px;
    background-size: contain;
  }

  .join__container {
    width: 470px;
  }

  .join__title {
    font-size: 48px;
    margin-bottom: 16px;
  }

  .join__text {
    font-size: 14px;
  }

  .join__email-input {
    width: 420px;
    height: 46px;
    padding: 10px 115px 10px 15px;
  }

  .join__submit{
    right: 55px;
    width: 100px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
  }
}

@media (max-width: 659px) {
  .join .wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .join__container {
    width: 280px;
  }

  .join__title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .join__text {
    padding-right: 20px;
    font-size: 16px;
  }

  .join__email-input {
    width: 280px;
    padding: 10px;
  }

  .join__submit {
    position: relative;
    left: auto;
    right: auto;
    margin-top: 10px;
  }
}