.news {
  margin-bottom: 180px;
}

.news-article__container {
  display: flex;
  justify-content: space-between;
}

.news-article {
  width: 300px;
  padding: 22px 35px 22px 30px;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}

.news-article__release-date {
  position: relative;
  padding-left: 14px;
  margin: 0 0 24px;
  @include typo(11px, 700, $main-font, $text-color);
  text-transform: uppercase;
  line-height: 24px;

  &:before {
    content: '';
    top: 7px;
    left: 0;
    position: absolute;
    width: 8px;
    height: 8px;
    background: #dddddd;
  }
}

.news-article__title {
  @include typo(18px, 700, $main-font, $text-color);
  margin: 0 0 36px;
}

.news-article__content {
  @include typo(14px, 400, $main-font, $text-color);
  margin: 0 0 36px;
  height: 120px;
  overflow-y: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
}

.news-article__more-link {
  padding: 14px 10px;
  width: 100px;
  font-size: 12px;
}


@media (max-width: 979px) {
  .news {
    margin-bottom: 100px;
  }

  .news-article {
    width: 200px;
    padding: 12px 20px 12px 16px;
  }

  .news-article__release-date {
    margin: 0 0 14px;
    line-height: 16px;
  
    &:before {
      top: 3px;
    }
  }

  .news-article__title {
    font-size: 16px;
    margin: 0 0 24px;
  }
  
  .news-article__content {
    font-size: 12px;
    margin: 0 0 18px;
    line-height: 20px;
  }
  
  .news-article__more-link {
    padding: 10px 8px;
    width: 100px;
  }

}

@media (max-width: 659px) {
  .news {
    margin-bottom: 60px;
  }

  .news-article__container {
    flex-wrap: wrap;
  }

  .news-article {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
  }

  .news-article__release-date {
    font-size: 13px;
  }

  .news-article__title {
    font-size: 22px;
  }
  
  .news-article__content {
    font-size: 16px;
  }

  .news-article__more-link {
    width: 120px;
    font-size: 14px;
    padding: 12px 10px;
    height: 42px;
  }
}