.page-title {
  height: 450px;
  display: flex;
  align-items: center;

  &__title {
    width: 620px;
    margin: 0;
    color: #fff;
    font-family: 'Lora', sans-serif;
    font-size: 72px;
    font-weight: 700;
  }
}

@media (max-width: 979px) {
  .page-title {
    height: 380px;
  }

  .page-title__title {
    font-size: 64px;
  }
}


@media (max-width: 659px) {
  .page-title__title {
    margin-top: 15px;
    font-size: 54px;
    text-align: center;
  }
}