.volume__container {
  position: relative;
}

.volume {
  display: none;
  position: absolute;
  top: -70px;
  left: -10px;
  width: 90px;
  height: 20px;
  padding-left: 8px;
  background: $red-bg-color;
  border: 1px solid #000;
  transform: rotate(-90deg);
  border-radius: 3px;

  &--show {
    display: flex;
  }
}

.volume__bar {
  margin: auto;
  -webkit-appearance: none;
  width: 80px;
  background: transparent;

  &:-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &:focus {
    outline: none;
  }

  &:-ms-track {
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }
}

.volume__bar {
  -webkit-appearance: none;
  width: 90%;
  margin: 2.5px 0;
}
.volume__bar:focus {
  outline: none;
}
.volume__bar::-webkit-slider-runnable-track {
  width: 90%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px -1px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #000000;
  border-radius: 3px;
  border: 0px solid #010101;
}
.volume__bar::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.5px;
}
.volume__bar:focus::-webkit-slider-runnable-track {
  background: #000000;
}
.volume__bar::-moz-range-track {
  width: 90%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px -1px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #000000;
  border-radius: 3px;
  border: 0px solid #010101;
}
.volume__bar::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
}
.volume__bar::-ms-track {
  width: 90%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.volume__bar::-ms-fill-lower {
  background: #000000;
  border: 0px solid #010101;
  border-radius: 6px;
  box-shadow: 0px -1px 0px #000000, 0px 0px 0px #0d0d0d;
}
.volume__bar::-ms-fill-upper {
  background: #000000;
  border: 0px solid #010101;
  border-radius: 6px;
  box-shadow: 0px -1px 0px #000000, 0px 0px 0px #0d0d0d;
}
.volume__bar::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 0px solid rgba(0, 0, 0, 0);
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  height: 5px;
}
.volume__bar:focus::-ms-fill-lower {
  background: #000000;
}
.volume__bar:focus::-ms-fill-upper {
  background: #000000;
}


@media (max-width: 659px) {
  .volume {
    left: -35px;
    width: 110px;
    top: -80px;
    height: 30px;
  }

  .volume__container {
    height: 50px;
  }

  
  .volume__bar::-webkit-slider-runnable-track,
  .volume__bar::-moz-range-track,
  .volume__bar::-ms-track {
    height: 7px;
  }
}