.socials-link {
  display: inline-block;
  margin: 0 6px;
  width: 45px;
  height: 45px;
  vertical-align: middle;
  border: 3px solid $border-color;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;

  &--tw {
    background-image: url('../img/icon-twitter.svg');
  }
  &--fb {
    background-image: url('../img/icon-facebook.svg');
  }
  &--yt {
    background-image: url('../img/icon-youtube.svg');
  }

  &:hover {
    border-color: $border-color-hover;
  }

  &:active {
    opacity: 0.3;
  }
}


