$mobile-widths-only: "(max-width: 767px)";
$tablet-widths: "(min-width: 768px)";
$tablet-widths-only: "(max-width: 1199px)";
$desktop-widths: "(min-width: 1200px)";
$page-margin-mobile: 20px;
$page-margin-tablet: 40px;
$page-margin-desktop: 130px;
$dark-bg: #283645;
$darkest-bg: #1d2631;
$light-bg: #f2f2f2;
$lightest-bg: #fff;
$pink-bg: #d22856;
$white-text-color: #fff;
$dark-text-color: #283645;
$black-text-color: #000;
$pink-text-color: #d22856;
$border-color: #e5e5e5;
$border-color-hover: #283645;
$border-color-active: #d22856;
$green-color: #2aab6d;
$dark-green-color: #1c9b5e;
